<h1>You are logged</h1>

<script>
    if (window.location.hash && window.location.hash.indexOf('#code=') !== -1) {
        var accessToken = window.location.hash.replace('#code=', '');
        window.location.href = '/callback?code=' + accessToken;
    }
</script>