<!DOCTYPE html>
<html>
    <head>
        <title>Instagram Analytics</title>
    </head>
    <body>
        <% if (typeof(user) != "undefined") { %>
            <p>
                <a href="/">Home</a> | 
                <a href="/login">Log In</a>
            </p>
        <% } else{ %>
            <p>
                <a href="/">Home</a> | 
                <a href="/account">Account</a> | 
                <a href="/logout">Log Out</a>
            </p>
        <% } %>
        <% if (typeof(body) != "undefined") { %>
            <%- body %>
        <% } %>
    </body>
</html>